<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Austn" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Include stylesheets in the correct order %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", defer: true %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <%# Make sure application.css is loaded AFTER tailwind to apply our specific styles %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- Sidebar React Component -->
    <div data-react-component="Sidebar"></div>
    
    <!-- No need for sidebar margin, we'll handle that in components -->
    <main class="min-h-screen">
      <%= yield %>
    </main>
    
    <!-- Material Icons for sidebar -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </body>
</html>
